# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
# temp files
\#*\#

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hexfindPeaks

findPeaks
fndpks
mysolver
prtTest
